.List {
    
    width: fit-content;
    

    &.technology {
        height: 89vh;
    }
    &.worker {
        height: 89vh;
    }
    &.buff {
        height: 75vh;
    }

    .title {
        display: inline-block;
        width: 100%;
        height: 20px;
        text-align: center;
        font-size: 1em;
        border-bottom: 1px solid white;
    }

    .list {
        overflow-x: hidden;
        overflow-y:scroll;
        height: -webkit-fill-available;
        max-height: 100%;
    }
    .item {
        padding: 5px;
    }
}